.dropbtn a {
    margin: 0px;
    padding: 0px;
}

.page {
    margin-top: 10px;
}

.main_content {
    margin-left: 30px;
    display: block;
}

.heading {
    text-align: center;
    width: 100%;
    position: relative;
    right: 7px;
    margin-bottom: 10px;
    font-family: cursive;
    font-size: 40px;
}

.description {
    text-align: center;
    position: relative;
    right: 7px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 50px;
}




.recipe_img {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    float: left;
}

.main_img_fon{
    grid-column-start: 1;
    grid-column-end: 4;
    display: block;
    width: 100%;
    height: 340px;
    cursor: pointer;
}

.main_img {
    width: 100%;
    height: 340px;
}

#main_img {
    display: none;
}

.other_img {
    width: 100%;
    height: 113px;
}

#other_img1, #other_img2, #other_img3{
    display: none;
}

.main_img, .other_img {
    cursor: pointer;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 10px;
}



.composition_fon {
    padding-left: 40px;
    float: left;
    width: 45%;
}

.composition {
    width: 100%;
    font-size: 16px;
    display: block;
}

.composition h2 {
    padding: 0px;
    margin: 0px 0px 30px 0px;
}

.composition p {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr;
}

.filler {
    border-bottom: 1px dotted;
    position: relative;
    bottom: 0px;
}

.composition_name {
    border: 0.5px solid rgb(86, 86, 86);
    text-align: center;
}

.composition_number {
    width: 80px;
    border: 0.5px solid rgb(86, 86, 86);
    border-right: none;
}

.measurement {
    border: 0.5px solid rgb(86, 86, 86);
} 

.add_delete {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add_composition_elem, .delete_composition_elem {
    width: 30px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.calory_fon { 
    display: flex;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    border-radius: 50%;
    justify-content: center;
    margin-top: 60px;
    float: right;
}

#calory {
    width: 50px;
    height: 20px;
    text-align: center; 
    position: relative;
    top: 15px;
    left: 16px;
}
.calory_text {
    display: block;
    position: relative;
    align-self: flex-end;
    bottom: 10px;
    left: -29px;
}




.info_time {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

.info_time h2{
    font-size: 25px;
}

.time {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    font-size: 15px;
}

.time::before {
    content: "";
    background-image: url("/Users/77474/Downloads/recipe/img/main/time.png");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 3;
}

.all_time {
    display: inline-block;
    font-weight: 600;
    border: none;
}

.active_time {
    display: inline-block;
    font-weight: 600;
    border: none;
}

.time_label  {
    font-weight: 700;
}




.recipe_step {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
}

.step {
    margin: 30px 40px;
}

.step_img {
    border-radius: 10px;
    display: block;
    width: 380px;
    height: 250px;
    cursor: pointer;
}

.step_input_img {
    display: none;
}

.step_text {
    margin-top: 15px;
    line-height: 22px;
    width: 80%;
    border: none;
    resize: none;
}

.add_delete_step {
    margin: 0px 0px 0px 40px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.add_step, .delete_step {
    width: 80px;
    cursor: pointer;
}



.conclusions_heading {
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}

.conclusions {
    margin: 30px 40px 0px 40px;
}

.conclusions_text {
    resize: none;
    width: 100%;
    margin-top: 15px;
}

.add_delete_conclusions {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0px 40px;
}

.add_conclusions, .delete_conclusions {
    width: 35px;
    cursor: pointer;
}




.submit_fon {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.submit {
    font-size: 30px;
    background-color: rgb(29, 175, 29);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 1;
}

.submit:hover {
    background-color: rgb(23, 131, 23);
}
.submit:active {
    background-color: rgb(29, 175, 29);
    transform: scale(0.9);
}




#select_categories {
    list-style-type: none;
    position: relative;
    left: -15px;
}

#select_subcategories {
    list-style-type: none;
}